.banner{
    display: none;
}
.maisdetalhe__imagem{
    width: 100%;
    margin-bottom: 2rem;
    
}

.maisdetalhe__informacao{
    width: 50%;
}

.produto__descricao--maisdetalhe{
    text-align: justify;
    line-height:1.5rem;

}
.produtos__grade--todososprodutos{
    display: flex;
    justify-content: space-between;
}


.produto__nome--maisdetalhe{
    font-size:52px;
    
}
.produto__preco--maisdetalhe{
    margin: 1rem 0;
}

.produto--maisdetalhe{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}


.produto--maisdetalhe picture{
    margin-right: 1rem;
    margin-top: 10%;
}

.produto--esconder{
    display:none;
}


@media screen and (max-width:768px){
    .produtos__grade--todososprodutos:last-child,.produtos__grade--todososprodutos:nth-last-child(1){
        display: none;
    }
    
    .produto--maisdetalhe picture{
        
        width: 40%;
    }
}

@media screen and (max-width:480px){

    .maisdetalhe__informacao{
        width: 100%;
        margin-bottom: 2rem;;
    }

    .produtos__grade--todososprodutos{
        flex-wrap: wrap;
    }

    .produto--maisdetalhe{
        flex-direction: column;
        width: 100%;
    }
    .produto--maisdetalhe picture{
        width: 100vw;
    }

}

