:root{
    --corBranco: #ffffff;
    --corBackgroundHeader: #ffffff;
    --corAzul:#2A7AE4;
    --corBackgroundFooter:#EAF2FD;
    --corBackgroundPesquisa : #F5F5F5;
    --corPadraoFonte: #464646;
    --corBackground:#E5E5E5;

    --fontePadrao:'Raleway',sans-serif;
}

.darkmode:root{
    --corBackground :#212529;
    --corPadraoFonte: #ffffff;
    --corBackgroundHeader:#212529;
    --corBackgroundPesquisa : #48515a;
    --corBackgroundFooter:#313335;    
}

*{
    font-family: 'Raleway', 'Open Sans', 'Segoe UI', sans-serif;
    color: var(--corPadraoFonte);
}


.container{
    max-width:1136px;
    margin:0 auto;
    
}
main{
    background-color: var(--corBackground);
    padding-bottom: 2%;
    
}
body{
    background-color: var(--corBackgroundHeader);
}



.pularNavegacao,
.pularNavegacao:hover,
.pularNavegacao:active,
.pularNavegacao:focus {
    color: transparent;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;

}


@media screen and (max-width:768px){

    .container{
        max-width: 768px;
    }
}
 