.banner{
    display: none;
}

.editar__produto{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity:0;
    visibility: hidden; 
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out,opacity 0.25s ease-in-out;
}

.editar__produto--conteudo{
    background-color:white;
    padding: 16px 24px;
    width: 70%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.499);
}
.editar__produto--sair{
    background-color: rgba(178, 178, 178, 0.4);
    cursor: pointer;
    float: right;
    line-height:24px;
    text-align: center;
    width: 5%;
    z-index:40;
}

.janela__modal--mostra{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.produto{
    margin-bottom: 2rem;
}

.produto__botaoadicionar{
    color:var(--corBranco);
    background-color: var(--corAzul);
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
    padding: 1rem;
}
.produtos__grade--todososprodutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .8rem;

}
.produto img{
    max-width:155px;
    position: relative;
}

.produto__funcao{
    width: 100%;
}
.produto__funcao--editar, .produto__funcao--deletar{
    width: 48%;
    height: 25px;
    cursor: pointer;
}

.produto__funcao--editar{
    border-color: var(--corAzul);
    border-radius: 4px;
    background-image: url(../img/edit_black_24dp\ 1.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1.2rem;
    padding: .2rem;
}

.produto__funcao--deletar{
    border-color: red;
    border-radius: 4px;
    background-image: url(../img/Vector_1.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: .6rem;
    padding: .2rem;
}





@media screen and (max-width:768px) {
    .produto{
        width: 25%;
    }

    .produto:last-child, .produto:nth-last-child(1){
        margin-right: 50%;
    }

    .produto:last-child, .produto:nth-child(5){
        display: block;
    }

    


}

@media screen and (max-width:480px){
    .produto{
        width: 50%;
    }

    .produto__botaoadicionar{
        transform: scale(.8);
        width: 100%;
        margin-left:2%;
        
        text-align: center;
        padding: 2rem .5rem ;
        align-content: center;
        
    }

    .produto__cabecalho{
        flex-direction: column;
    }

    .produto:last-child, .produto:nth-last-child(1){
        margin-right: 0%;
    }
}
    
    
    
